* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

 .title{
  display: inline-block;
  background-color: #9fafca;
  border-radius: 4px;
  padding: 10px 15px;
  margin: 0;
  margin-bottom: 5px;
  
} 

body {
  margin: 0;
  padding: 0;
  font-family: ‘Segoe UI’, Candara, ‘Bitstream Vera Sans’, ‘DejaVu Sans’,
    ‘Bitsream Vera Sans’, ‘Trebuchet MS’, Verdana, ‘Verdana Ref’, sans-serif;
  background-color: #0e387a;
}

/* Page Layout */
.columns {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.form-row {
  background-color: #9fafca;
  

  border: 1px solid #D6D9DC;
  border-radius: 3px;

  width: 30%;
  height: 50%;
  padding: 20px;
  margin-right: 20px;
}

.column {
  background-color: #9fafca;
  border: 1px solid #D6D9DC;
  border-radius: 3px;
  width: 40%;
  padding: 20px;
  margin-left: 20px;
  height: 20%;
  
}

.foods {
  margin-top: 20px;
  margin-bottom: 20px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  margin:10px;
}
.container {
  max-width: 960px;
  margin-top: 25px;
}

.legacy-form-row {
  margin-bottom: 10px;
}
.legacy-form-row legend {
  width: 120px;
  text-align: right;
  padding-right: 20px;
}
.legacy-form-row legend {
  float: left;
}

.legacy-form-row {
  border: none;
  margin-bottom: 40px;
}

.legacy-form-row legend {
  margin-bottom: 15px;
}

.legacy-form-row .radio-label {
  display: block;
  font-size: 14px;
  padding: 0 20px 0 10px;
}

.legacy-form-row input[type='radio'] {
  margin-top: 2px;
}
  
.legacy-form-row .radio-label,
.legacy-form-row input[type='radio'] {
  float: left;
}



.submission button {
  margin-left: 120px;
}
.submission button {
  font-size: 16px;
  font-weight: bold;

  color: #FFFFFF;
  background-color: #5995DA;

  border: none;
  border-radius: 3px;

  padding: 10px 40px;
  cursor: pointer;
  
}


